{% if site.twitter_user %}
<section>
  <h1>Latest Tweets</h1>
  <ul id="tweets">
	<div id="hiddentweet">
	  	<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/{{site.twitter_user}}" data-chrome="nofooter noheader" data-widget-id="375613472869859328" data-tweet-limit="{{site.twitter_tweet_count}}">Loading tweets by @gittumia . . . </a>
		<script id="twitter-wjs" src="http://platform.twitter.com/widgets.js" async onload="parsetwitter({{site.twitter_tweet_count}})"></script>
	</div>
  </ul>
   {% if site.twitter_follow_button %}
     <a href="http://twitter.com/{{ site.twitter_user }}" class="twitter-follow-button" data-show-count="{{ site.twitter_show_follower_count }}">Follow @{{ site.twitter_user }}</a>
   {% else %}
     <p>Follow <a href="http://twitter.com/{{site.twitter_user}}">@{{ site.twitter_user }}</a></p>
   {% endif %}
</section>
{% endif %}
